body {
  width:100%;
  min-width: 1280px;
}
/* navigation bar */
.top-header {
  /* top and right go with position */
  position: fixed;
  top: 0;
  right:0;
  align-items: center;
  color: white;
  background-color:#464444;
  box-shadow:  0px 2px 10px #333333;
  display: flex;
  height: 50px;
  width: 100%
}
.top-nav{
  flex:1;
  display: flex;
  align-items: center;
  line-height:50px;
}
.home-icon {
  text-align: center;
  margin: 0 50px; 
  font-size: 30px;
}
.top-nav a {
  padding: 0 10px;
  border:none;
  flex:1;
  width: auto;
  color:white;
  text-align: center;
  font-weight: 400px;
  letter-spacing: 1px;
  text-decoration: none;
}

.top-nav a:hover {
  background-color:black;
}
.active {
  background-color: green;
}

/* main section */
.main-section {
  margin-top: 70px;
  width: 100%;
  min-width: 1200px;
}
.brief-intro {
  width: 80%;
  height: 180px;
  margin:0 0;
}
.brief-intro p{
  text-align: center;
  font-size: 40px;
}
.self-portrait {
  display: block;
  margin-left: 20px;
  height: 180px;
  width: 150px
}
img {
  height: 200px;
  width: 300px;
}